*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    list-style-type: none;
}

nav{
    padding: 5px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    width: 140px;
}

main{
    background-color: rgb(40, 40, 40);
    width: 100%;
    min-height: 100vh;
    padding-bottom: 40px;
}

.input-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.search{
    width: 90%;
    padding: 10px 7px;
    border: none;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    font-size: 14px;
}

.search:focus{
    outline: 1px solid yellow;
}

.apresentation{
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: white;
    padding: 140px 20px 40px 20px;
}

.list-icecream{
    display: flex;
    padding: 0px;
    border: 1px solid white;
    margin: 0 20px;
    border-radius: 10px;
    height: 60%;
    overflow-y: scroll;
    background-color: rgb(260, 260, 260);
}

.list{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;  
}

.list li{
    font-size: 14px;
    border-bottom: 1px solid black;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.list li:last-child{
    border-bottom: none;
}

.back-ice{
    width: 100%;
    height: 100%;
    background-color: rgba(10, 10, 10, 0.7);
    position: fixed;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.ice-data{
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.close{
    display: flex;
    justify-content: end;
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.table-info{
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.table-info h2{
    font-size: 17px;
    width: 100%;
    text-align: center;
    padding: 3px 0;
    border-bottom: 1px solid ;
}

.table-info p{
    font-size: 13px;
    width: 100%;
    padding: 3px;
    text-align: center;
    border-bottom: 1px solid ;
}

.table{
    display: flex;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
}

.table ul{
    font-size: 12px;
}


.table ul li{
    padding: 2px 5px;
    min-height: 22px;
    border-bottom: 1px solid;
}


.comp{
    width: 55%;
    border-right: 1px solid black;
}

.g100{
    width: 17%;
    border-right: 1px solid black;
}

.g60{
    width: 15%;
    border-right: 1px solid black;
}

.vd{
    width: 15%;
}


.percentual{
    border-bottom: none !important;
}

.ingredientes{
    padding: 20px 0;
    text-align: justify;
}

.alergicos{
    padding: 20px 0;
    text-align: justify;
    font-weight: 700;
}

.quantidade{
    width: 100%;
}

.maisinfo{
    padding-bottom: 30px;
}

.maisinfo li{
    font-size: 13px;
}

.nameice{
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
    color: rgb(203, 183, 4);
}


    ::-webkit-scrollbar{
        display: none;
    }

@media(max-width: 400px){

    .table ul{
        font-size: 9px;
    }

    .quantidade, .percentual{
        font-size: 10px;
    }

    .ingredientes, .alergicos{
        font-size: 12px;
    }

    .list li{
        font-size: 11px;
    }

    .logo{
        display: none;
    }

    .input-search{
        width: 100%;
    }

}

@media (min-width: 880px){

    .list-icecream{
        width: 800px;
        margin: auto;
    }

    .list li:hover{
        cursor: pointer;
        background-color: rgb(230, 230, 230);
    }

    .list li{
        transition: 0.1s linear;
    }

    .close p:hover{
        cursor: pointer;
    }

    .ice-data{
        width: 800px;
    }


}